<section id="#features" class="py-20 bg-gray-100">
  <div class="container mx-auto px-6">
    <div class="text-center mb-16">
      <h2 class="text-3xl md:text-4xl font-bold text-gray-900">Funcionalidades
        <b class="text-red-600">Poderosas</b></h2>
      <p class="text-gray-600 mt-2">Veja como nossa plataforma pode transformar
        seu trabalho.</p>
    </div>
    @for (feature of features; track $index) {
    <app-feature-item title={{feature.title}}
      description={{feature.description}}
      [benefits]="feature.benefits"
      [itemAlign]="$index % 2 === 0 ? 'left' : 'right'"
      imageSrc={{feature.imageSrc}}
      imageAlt={{feature.imageAlt}} />
    }
  </div>
</section>